$bgColor: #f3f3f3; //
$mainColor: #5C6C84; //主色
$mainhoverColor: #7fa2d8; //hover状态主色
//$activeColor: #217496;
$activeColor: #6699CC;
$subColor: #8fc6fd;
$pageColor: #fff;
$patientFontColor: #666; //病人页面主要字体
$timelineColor: #e3e1e1; //时间轴边框线颜色
$tableBorderColor: #ebeef5; //表格边框颜色
$tableActiveColor: #f5f7fa; //表格高亮颜色

$imgDomain: "https://suvalue.oss-cn-hangzhou.aliyuncs.com/follow_up_visits";
$upColor: #FF6100;
$downColor: #8CC220;

//菜单
$menuBgColor: #ffffff; //菜单颜色
$subMenuBgColor: #ededed; //菜单辅颜色
$leftMenuWidth: 270px;
$logoWidth: 50px; //logo宽度

//顶栏
$headerHeight: 60px;

//医院概况
$surveyBgColor1: #00a0e9;
$surveyBgColor2: #8cc220;
$surveyBgColor3: #ffb97f;
$surveyBgColor4: #b7a2de;
$surveyBgColor5: #2ec7c9;
$surveyBgColor6: #d87a80;
$surveyBgColor7: #5ab1ef;
